{
  "openapi": "3.1.0",
  "info": {
    "title": "MyInvoice ReviziOR Integration API",
    "version": "1.0",
    "description": "Versioned server-to-server and browser SSO contract. Service authentication, capabilities, atomic organization provisioning, organization synchronization and user membership endpoints are implemented. User provisioning remains capability-gated until the caller sends the dedicated user:write scope; downstream routes remain contractual until enabled.",
    "license": {"name": "MIT", "identifier": "MIT"}
  },
  "servers": [
    {"url": "https://fakturace.revizior.cz"}
  ],
  "security": [
    {"ReviziorServiceAssertion": []}
  ],
  "paths": {
    "/api/integrations/revizior/v1/capabilities": {
      "get": {
        "operationId": "reviziorCapabilities",
        "summary": "Read provider capabilities",
        "description": "Requires platform subject and the dedicated capabilities:read scope.",
        "parameters": [
          {"$ref": "#/components/parameters/RequestId"}
        ],
        "responses": {
          "200": {"description": "Capabilities", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CapabilitiesResponse"}}}},
          "401": {"$ref": "#/components/responses/ServiceAuthError"},
          "403": {"$ref": "#/components/responses/ServiceScopeError"},
          "404": {"description": "Managed integration is disabled", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "503": {"description": "Service authentication or replay store is not ready", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/api/integrations/revizior/v1/organizations/{organizationUuid}/provision": {
      "post": {
        "operationId": "provisionReviziorOrganization",
        "summary": "Idempotently provision an organization and its owner",
        "parameters": [
          {"$ref": "#/components/parameters/OrganizationUuid"},
          {"$ref": "#/components/parameters/RequestId"},
          {"$ref": "#/components/parameters/IdempotencyKey"}
        ],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProvisionRequest"}}}},
        "responses": {
          "200": {"description": "Existing identical provisioning", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProvisionResponse"}}}},
          "201": {"description": "Provisioned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProvisionResponse"}}}},
          "400": {"$ref": "#/components/responses/ValidationError"},
          "401": {"$ref": "#/components/responses/ServiceAuthError"},
          "403": {"$ref": "#/components/responses/ServiceScopeError"},
          "409": {"$ref": "#/components/responses/ConflictError"},
          "503": {"description": "Provider cannot complete the transaction safely", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/api/integrations/revizior/v1/organizations/{organizationUuid}": {
      "put": {
        "operationId": "updateReviziorOrganization",
        "summary": "Update allowed live organization data",
        "description": "Requires an organization subject matching organizationUuid and the organization:write scope. Stale sourceUpdatedAt snapshots are ignored.",
        "parameters": [
          {"$ref": "#/components/parameters/OrganizationUuid"},
          {"$ref": "#/components/parameters/RequestId"}
        ],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OrganizationUpdateRequest"}}}},
        "responses": {
          "200": {"description": "Updated organization link", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProvisionResponse"}}}},
          "400": {"$ref": "#/components/responses/ValidationError"},
          "401": {"$ref": "#/components/responses/ServiceAuthError"},
          "403": {"$ref": "#/components/responses/ServiceScopeError"},
          "404": {"$ref": "#/components/responses/NotFoundError"},
          "503": {"description": "Provider cannot complete the transaction safely", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/api/integrations/revizior/v1/organizations/{organizationUuid}/users/{userUuid}": {
      "put": {
        "operationId": "upsertReviziorUser",
        "summary": "Upsert an authoritative supplier membership",
        "description": "Requires an organization subject matching organizationUuid and the dedicated user:write scope. The global admin role can never be assigned by this endpoint.",
        "parameters": [
          {"$ref": "#/components/parameters/OrganizationUuid"},
          {"$ref": "#/components/parameters/UserUuid"},
          {"$ref": "#/components/parameters/RequestId"}
        ],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserUpsertRequest"}}}},
        "responses": {
          "200": {"description": "User membership synchronized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserLinkResponse"}}}},
          "201": {"description": "User membership created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserLinkResponse"}}}},
          "400": {"$ref": "#/components/responses/ValidationError"},
          "401": {"$ref": "#/components/responses/ServiceAuthError"},
          "403": {"$ref": "#/components/responses/ServiceScopeError"},
          "404": {"$ref": "#/components/responses/NotFoundError"},
          "409": {"$ref": "#/components/responses/ConflictError"},
          "503": {"description": "Provider cannot complete the transaction safely", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "revokeReviziorUser",
        "summary": "Revoke a supplier membership without deleting history",
        "description": "Requires an organization subject matching organizationUuid and the dedicated user:write scope. Repeated revoke of an already missing or inactive membership is a successful no-op.",
        "parameters": [
          {"$ref": "#/components/parameters/OrganizationUuid"},
          {"$ref": "#/components/parameters/UserUuid"},
          {"$ref": "#/components/parameters/RequestId"}
        ],
        "responses": {
          "204": {"description": "Membership revoked"},
          "401": {"$ref": "#/components/responses/ServiceAuthError"},
          "403": {"$ref": "#/components/responses/ServiceScopeError"},
          "404": {"$ref": "#/components/responses/NotFoundError"},
          "503": {"description": "Provider cannot complete the transaction safely", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/api/integrations/revizior/v1/organizations/{organizationUuid}/clients/{clientUuid}": {
      "put": {
        "operationId": "upsertReviziorClient",
        "summary": "Upsert a client by its ReviziOR UUID",
        "parameters": [
          {"$ref": "#/components/parameters/OrganizationUuid"},
          {"$ref": "#/components/parameters/ClientUuid"},
          {"$ref": "#/components/parameters/RequestId"}
        ],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ClientUpsertRequest"}}}},
        "responses": {
          "200": {"description": "Updated or unchanged client", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ClientUpsertResponse"}}}},
          "201": {"description": "Created client", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ClientUpsertResponse"}}}},
          "400": {"$ref": "#/components/responses/ValidationError"},
          "401": {"$ref": "#/components/responses/ServiceAuthError"},
          "403": {"$ref": "#/components/responses/ServiceScopeError"},
          "409": {"$ref": "#/components/responses/ConflictError"}
        }
      }
    },
    "/api/integrations/revizior/v1/organizations/{organizationUuid}/prices/resolve": {
      "post": {
        "operationId": "resolveReviziorPrices",
        "summary": "Resolve catalog and customer override prices",
        "parameters": [
          {"$ref": "#/components/parameters/OrganizationUuid"},
          {"$ref": "#/components/parameters/RequestId"}
        ],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PriceResolveRequest"}}}},
        "responses": {
          "200": {"description": "Per-item resolution", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PriceResolveResponse"}}}},
          "400": {"$ref": "#/components/responses/ValidationError"},
          "401": {"$ref": "#/components/responses/ServiceAuthError"},
          "403": {"$ref": "#/components/responses/ServiceScopeError"},
          "404": {"$ref": "#/components/responses/NotFoundError"}
        }
      }
    },
    "/api/integrations/revizior/v1/organizations/{organizationUuid}/invoice-drafts": {
      "post": {
        "operationId": "createReviziorInvoiceDraft",
        "summary": "Idempotently create an invoice draft",
        "parameters": [
          {"$ref": "#/components/parameters/OrganizationUuid"},
          {"$ref": "#/components/parameters/RequestId"},
          {"$ref": "#/components/parameters/IdempotencyKey"}
        ],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InvoiceDraftRequest"}}}},
        "responses": {
          "200": {"description": "Stored idempotent response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InvoiceSnapshotResponse"}}}},
          "201": {"description": "Draft created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InvoiceSnapshotResponse"}}}},
          "400": {"$ref": "#/components/responses/ValidationError"},
          "401": {"$ref": "#/components/responses/ServiceAuthError"},
          "403": {"$ref": "#/components/responses/ServiceScopeError"},
          "409": {"$ref": "#/components/responses/ConflictError"}
        }
      }
    },
    "/api/integrations/revizior/v1/organizations/{organizationUuid}/invoice-drafts/{externalInvoiceKey}/attachments/{externalAttachmentKey}": {
      "put": {
        "operationId": "putReviziorInvoiceAttachment",
        "summary": "Idempotently attach a PDF",
        "parameters": [
          {"$ref": "#/components/parameters/OrganizationUuid"},
          {"$ref": "#/components/parameters/ExternalInvoiceKey"},
          {"$ref": "#/components/parameters/ExternalAttachmentKey"},
          {"$ref": "#/components/parameters/RequestId"},
          {"name": "Digest", "in": "header", "required": true, "schema": {"type": "string", "pattern": "^sha-256=[A-Za-z0-9+/]+={0,2}$"}},
          {"name": "X-File-Name", "in": "header", "required": false, "schema": {"type": "string", "maxLength": 255}}
        ],
        "requestBody": {"required": true, "content": {"application/pdf": {"schema": {"type": "string", "format": "binary"}}}},
        "responses": {
          "200": {"description": "Existing identical attachment", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AttachmentResponse"}}}},
          "201": {"description": "Attachment stored", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AttachmentResponse"}}}},
          "400": {"$ref": "#/components/responses/ValidationError"},
          "401": {"$ref": "#/components/responses/ServiceAuthError"},
          "403": {"$ref": "#/components/responses/ServiceScopeError"},
          "409": {"$ref": "#/components/responses/ConflictError"},
          "413": {"$ref": "#/components/responses/ValidationError"}
        }
      }
    },
    "/api/integrations/revizior/v1/organizations/{organizationUuid}/invoices/{externalInvoiceKey}": {
      "get": {
        "operationId": "getReviziorInvoice",
        "summary": "Read a normalized reconciliation snapshot",
        "parameters": [
          {"$ref": "#/components/parameters/OrganizationUuid"},
          {"$ref": "#/components/parameters/ExternalInvoiceKey"},
          {"$ref": "#/components/parameters/RequestId"}
        ],
        "responses": {
          "200": {"description": "Invoice snapshot", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InvoiceSnapshotResponse"}}}},
          "401": {"$ref": "#/components/responses/ServiceAuthError"},
          "403": {"$ref": "#/components/responses/ServiceScopeError"},
          "404": {"$ref": "#/components/responses/NotFoundError"}
        }
      }
    },
    "/api/auth/revizior/sso": {
      "get": {
        "operationId": "consumeReviziorSsoTicket",
        "summary": "Consume a one-time browser SSO ticket",
        "security": [],
        "parameters": [
          {"name": "ticket", "in": "query", "required": true, "schema": {"type": "string", "minLength": 1, "maxLength": 8192}}
        ],
        "responses": {
          "303": {"description": "New host-only session and safe relative redirect", "headers": {"Location": {"schema": {"type": "string"}}}},
          "400": {"$ref": "#/components/responses/ValidationError"},
          "401": {"$ref": "#/components/responses/ServiceAuthError"},
          "403": {"$ref": "#/components/responses/ServiceScopeError"}
        }
      }
    }
  },
  "webhooks": {
    "invoiceEvent": {
      "post": {
        "operationId": "receiveReviziorInvoiceEvent",
        "summary": "Receive a transactionally recorded MyInvoice event",
        "description": "Consumer callback at https://app.revizior.cz/api/internal/v1/invoicing/events. The exact raw body is signed as a detached JWS.",
        "security": [],
        "parameters": [
          {"name": "X-MyInvoice-Key-Id", "in": "header", "required": true, "schema": {"type": "string", "minLength": 1}},
          {"name": "X-MyInvoice-Signature", "in": "header", "required": true, "schema": {"type": "string", "minLength": 1}},
          {"$ref": "#/components/parameters/RequestId"}
        ],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InvoiceEvent"}}}},
        "responses": {
          "204": {"description": "Event accepted or already processed"},
          "400": {"description": "Malformed event"},
          "401": {"description": "Invalid signature"},
          "409": {"description": "Sequence gap requires reconciliation"},
          "429": {"description": "Consumer rate limit"}
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ReviziorServiceAssertion": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Short-lived RS256 service assertion with configured kid; not a MyInvoice PAT."
      }
    },
    "parameters": {
      "RequestId": {"name": "X-Request-Id", "in": "header", "required": true, "schema": {"$ref": "#/components/schemas/Uuid"}},
      "IdempotencyKey": {"name": "Idempotency-Key", "in": "header", "required": true, "schema": {"type": "string", "minLength": 1, "maxLength": 255}},
      "OrganizationUuid": {"name": "organizationUuid", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/Uuid"}},
      "UserUuid": {"name": "userUuid", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/Uuid"}},
      "ClientUuid": {"name": "clientUuid", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/Uuid"}},
      "ExternalInvoiceKey": {"name": "externalInvoiceKey", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/Uuid"}},
      "ExternalAttachmentKey": {"name": "externalAttachmentKey", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/Uuid"}}
    },
    "responses": {
      "ServiceAuthError": {"description": "Missing, invalid, expired or replayed service assertion", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
      "ServiceScopeError": {"description": "Insufficient scope or organization subject mismatch", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
      "ValidationError": {"description": "Invalid request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
      "ConflictError": {"description": "External link or idempotency conflict", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
      "NotFoundError": {"description": "Organization or tenant-scoped resource not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
    },
    "schemas": {
      "ContractVersion": {"type": "string", "const": "1.0"},
      "Uuid": {"type": "string", "format": "uuid", "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},
      "Date": {"type": "string", "format": "date"},
      "DateTime": {"type": "string", "format": "date-time"},
      "Decimal": {"type": "string", "pattern": "^-?[0-9]+(?:\\.[0-9]+)?$"},
      "Currency": {"type": "string", "pattern": "^[A-Z]{3}$"},
      "ResponseMeta": {
        "type": "object",
        "additionalProperties": false,
        "required": ["contractVersion", "requestId"],
        "properties": {
          "contractVersion": {"$ref": "#/components/schemas/ContractVersion"},
          "requestId": {"$ref": "#/components/schemas/Uuid"}
        }
      },
      "Address": {
        "type": "object",
        "additionalProperties": false,
        "required": ["street", "city", "postalCode", "countryCode"],
        "properties": {
          "street": {"type": "string", "maxLength": 190},
          "city": {"type": "string", "maxLength": 120},
          "postalCode": {"type": "string", "maxLength": 10},
          "countryCode": {"type": "string", "pattern": "^[A-Z]{2}$"}
        }
      },
      "Organization": {
        "type": "object",
        "additionalProperties": false,
        "required": ["name", "registrationNumber", "vatNumber", "vatStatus", "address", "language", "active", "sourceUpdatedAt"],
        "properties": {
          "name": {"type": "string", "minLength": 1, "maxLength": 190},
          "registrationNumber": {"type": ["string", "null"], "maxLength": 20},
          "vatNumber": {"type": ["string", "null"], "maxLength": 20},
          "vatStatus": {"type": ["string", "null"], "enum": ["payer", "non_payer", "identified_person", null]},
          "address": {"$ref": "#/components/schemas/Address"},
          "language": {"type": "string", "enum": ["cs", "en"]},
          "active": {"type": "boolean"},
          "sourceUpdatedAt": {"$ref": "#/components/schemas/DateTime"}
        }
      },
      "SupplierRole": {"type": "string", "enum": ["supplier_owner", "accountant", "readonly"]},
      "Owner": {
        "type": "object",
        "additionalProperties": false,
        "required": ["userUuid", "email", "name", "role", "active"],
        "properties": {
          "userUuid": {"$ref": "#/components/schemas/Uuid"},
          "email": {"type": "string", "format": "email", "maxLength": 190},
          "name": {"type": "string", "minLength": 1, "maxLength": 120},
          "role": {"type": "string", "const": "supplier_owner"},
          "active": {"type": "boolean", "const": true}
        }
      },
      "ProvisionRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["specVersion", "organization", "owner"],
        "properties": {
          "specVersion": {"$ref": "#/components/schemas/ContractVersion"},
          "organization": {"allOf": [{"$ref": "#/components/schemas/Organization"}, {"type": "object", "properties": {"active": {"const": true}}}]},
          "owner": {"$ref": "#/components/schemas/Owner"}
        }
      },
      "OrganizationUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["specVersion", "organization"],
        "properties": {
          "specVersion": {"$ref": "#/components/schemas/ContractVersion"},
          "organization": {"$ref": "#/components/schemas/Organization"}
        }
      },
      "ProvisionResult": {
        "type": "object",
        "additionalProperties": false,
        "required": ["organizationUuid", "supplierId", "status", "onboardingState", "configurePath", "payloadHash"],
        "properties": {
          "organizationUuid": {"$ref": "#/components/schemas/Uuid"},
          "supplierId": {"type": "string", "pattern": "^[1-9][0-9]*$"},
          "status": {"type": "string", "enum": ["onboarding", "active", "suspended", "disconnected"]},
          "onboardingState": {"type": "string", "enum": ["incomplete", "completed", "blocked"]},
          "configurePath": {"type": "string", "const": "/settings/supplier"},
          "payloadHash": {"type": "string", "pattern": "^sha256:[0-9a-f]{64}$"}
        }
      },
      "ProvisionResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["specVersion", "data", "meta"],
        "properties": {
          "specVersion": {"$ref": "#/components/schemas/ContractVersion"},
          "data": {"$ref": "#/components/schemas/ProvisionResult"},
          "meta": {"$ref": "#/components/schemas/ResponseMeta"}
        }
      },
      "UserUpsertRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["specVersion", "userUuid", "email", "name", "role", "active", "sourceUpdatedAt"],
        "properties": {
          "specVersion": {"$ref": "#/components/schemas/ContractVersion"},
          "userUuid": {"$ref": "#/components/schemas/Uuid"},
          "email": {"type": "string", "format": "email", "maxLength": 190},
          "name": {"type": "string", "minLength": 1, "maxLength": 120},
          "role": {"$ref": "#/components/schemas/SupplierRole"},
          "active": {"type": "boolean"},
          "sourceUpdatedAt": {"$ref": "#/components/schemas/DateTime"}
        }
      },
      "UserLinkResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["specVersion", "data", "meta"],
        "properties": {
          "specVersion": {"$ref": "#/components/schemas/ContractVersion"},
          "data": {
            "type": "object",
            "additionalProperties": false,
            "required": ["externalUserId", "role", "active"],
            "properties": {
              "externalUserId": {"type": "string", "pattern": "^[1-9][0-9]*$"},
              "role": {"$ref": "#/components/schemas/SupplierRole"},
              "active": {"type": "boolean"}
            }
          },
          "meta": {"$ref": "#/components/schemas/ResponseMeta"}
        }
      },
      "ClientContact": {
        "type": "object",
        "additionalProperties": false,
        "required": ["type", "email", "name"],
        "properties": {
          "type": {"type": "string", "enum": ["billing"]},
          "email": {"type": "string", "format": "email"},
          "name": {"type": ["string", "null"]}
        }
      },
      "ClientAddress": {
        "description": "Adresa klienta. ReviziOR ji zná jako jeden řádek: `street` je povinný, ostatní části smí být `null` (= zdroj je nezná, provider je nedomýšlí a u existujícího klienta nepřepisuje hodnoty doplněné ve fakturaci).",
        "type": "object",
        "additionalProperties": false,
        "required": ["street", "city", "postalCode", "countryCode"],
        "properties": {
          "street": {"type": "string", "minLength": 1, "maxLength": 190},
          "city": {"type": ["string", "null"], "maxLength": 120},
          "postalCode": {"type": ["string", "null"], "maxLength": 10},
          "countryCode": {"type": ["string", "null"], "pattern": "^[A-Z]{2}$"}
        }
      },
      "ClientUpsertRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["specVersion", "companyName", "registrationNumber", "vatNumber", "address", "contacts", "language", "active", "sourceUpdatedAt"],
        "properties": {
          "specVersion": {"$ref": "#/components/schemas/ContractVersion"},
          "companyName": {"type": "string", "minLength": 1, "maxLength": 190},
          "registrationNumber": {"type": ["string", "null"], "maxLength": 20},
          "vatNumber": {"type": ["string", "null"], "maxLength": 20},
          "address": {"$ref": "#/components/schemas/ClientAddress"},
          "contacts": {"type": "array", "maxItems": 3, "items": {"$ref": "#/components/schemas/ClientContact"}},
          "language": {"type": "string", "enum": ["cs", "en"]},
          "active": {"type": "boolean"},
          "sourceUpdatedAt": {"$ref": "#/components/schemas/DateTime"}
        }
      },
      "ClientUpsertResult": {
        "type": "object",
        "additionalProperties": false,
        "required": ["clientUuid", "externalClientId", "operation", "payloadHash"],
        "properties": {
          "clientUuid": {"$ref": "#/components/schemas/Uuid"},
          "externalClientId": {"type": "string", "pattern": "^[1-9][0-9]*$"},
          "operation": {"type": "string", "enum": ["created", "updated", "unchanged"]},
          "payloadHash": {"type": "string", "pattern": "^sha256:[0-9a-f]{64}$"}
        }
      },
      "ClientUpsertResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["specVersion", "data", "meta"],
        "properties": {
          "specVersion": {"$ref": "#/components/schemas/ContractVersion"},
          "data": {"$ref": "#/components/schemas/ClientUpsertResult"},
          "meta": {"$ref": "#/components/schemas/ResponseMeta"}
        }
      },
      "PriceResolveLine": {
        "type": "object",
        "additionalProperties": false,
        "required": ["lineKey", "code", "quantity"],
        "properties": {
          "lineKey": {"$ref": "#/components/schemas/Uuid"},
          "code": {"type": "string", "minLength": 1},
          "quantity": {"$ref": "#/components/schemas/Decimal"}
        }
      },
      "PriceResolveRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["specVersion", "clientUuid", "currency", "rateDate", "pricesIncludeVat", "items"],
        "properties": {
          "specVersion": {"$ref": "#/components/schemas/ContractVersion"},
          "clientUuid": {"$ref": "#/components/schemas/Uuid"},
          "currency": {"$ref": "#/components/schemas/Currency"},
          "rateDate": {"$ref": "#/components/schemas/Date"},
          "pricesIncludeVat": {"type": "boolean"},
          "items": {"type": "array", "minItems": 1, "maxItems": 500, "items": {"$ref": "#/components/schemas/PriceResolveLine"}}
        }
      },
      "ResolvedPriceLine": {
        "type": "object",
        "additionalProperties": false,
        "required": ["lineKey", "code", "priceListItemId", "description", "unit", "quantity", "unitPrice", "currency", "pricesIncludeVat", "vatRate", "source", "effectiveAt", "error"],
        "properties": {
          "lineKey": {"$ref": "#/components/schemas/Uuid"},
          "code": {"type": "string"},
          "priceListItemId": {"type": ["string", "null"]},
          "description": {"type": ["string", "null"]},
          "unit": {"type": ["string", "null"]},
          "quantity": {"$ref": "#/components/schemas/Decimal"},
          "unitPrice": {"oneOf": [{"$ref": "#/components/schemas/Decimal"}, {"type": "null"}]},
          "currency": {"$ref": "#/components/schemas/Currency"},
          "pricesIncludeVat": {"type": "boolean"},
          "vatRate": {"oneOf": [{"$ref": "#/components/schemas/Decimal"}, {"type": "null"}]},
          "source": {"type": ["string", "null"], "enum": ["catalog", "customer_override", "catalog_converted", "customer_override_converted", null]},
          "effectiveAt": {"oneOf": [{"$ref": "#/components/schemas/Date"}, {"type": "null"}]},
          "error": {"oneOf": [{"$ref": "#/components/schemas/ErrorBody"}, {"type": "null"}]}
        }
      },
      "PriceResolveResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["specVersion", "data", "meta"],
        "properties": {
          "specVersion": {"$ref": "#/components/schemas/ContractVersion"},
          "data": {"type": "object", "additionalProperties": false, "required": ["items"], "properties": {"items": {"type": "array", "items": {"$ref": "#/components/schemas/ResolvedPriceLine"}}}},
          "meta": {"$ref": "#/components/schemas/ResponseMeta"}
        }
      },
      "SourceReference": {
        "type": "object",
        "additionalProperties": false,
        "required": ["type", "uuid"],
        "properties": {
          "type": {"type": "string", "enum": ["revision_report", "revision_schedule", "revision_job", "manual"]},
          "uuid": {"$ref": "#/components/schemas/Uuid"}
        }
      },
      "InvoiceDraftLine": {
        "type": "object",
        "additionalProperties": false,
        "required": ["externalLineKey", "priceListCode", "description", "quantity", "unit", "unitPrice", "vatRate", "sourceReferences"],
        "properties": {
          "externalLineKey": {"$ref": "#/components/schemas/Uuid"},
          "priceListCode": {"type": ["string", "null"]},
          "description": {"type": "string", "minLength": 1},
          "quantity": {"$ref": "#/components/schemas/Decimal"},
          "unit": {"type": "string"},
          "unitPrice": {"$ref": "#/components/schemas/Decimal"},
          "vatRate": {"$ref": "#/components/schemas/Decimal"},
          "sourceReferences": {"type": "array", "items": {"$ref": "#/components/schemas/SourceReference"}}
        }
      },
      "InvoiceDraftRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["specVersion", "externalInvoiceKey", "clientUuid", "invoiceType", "currency", "issueDate", "taxDate", "dueDate", "pricesIncludeVat", "language", "items"],
        "properties": {
          "specVersion": {"$ref": "#/components/schemas/ContractVersion"},
          "externalInvoiceKey": {"$ref": "#/components/schemas/Uuid"},
          "clientUuid": {"$ref": "#/components/schemas/Uuid"},
          "invoiceType": {"type": "string", "enum": ["invoice", "proforma", "credit_note"]},
          "currency": {"$ref": "#/components/schemas/Currency"},
          "issueDate": {"$ref": "#/components/schemas/Date"},
          "taxDate": {"oneOf": [{"$ref": "#/components/schemas/Date"}, {"type": "null"}]},
          "dueDate": {"$ref": "#/components/schemas/Date"},
          "pricesIncludeVat": {"type": "boolean"},
          "language": {"type": "string", "enum": ["cs", "en"]},
          "items": {"type": "array", "minItems": 1, "maxItems": 500, "items": {"$ref": "#/components/schemas/InvoiceDraftLine"}}
        }
      },
      "InvoiceSnapshot": {
        "type": "object",
        "additionalProperties": false,
        "required": ["externalInvoiceKey", "invoiceId", "invoiceNumber", "status", "rawStatus", "currency", "totalMinor", "amountDueMinor", "issueDate", "dueDate", "editPath", "publicUrl", "pdfUrl", "sequence"],
        "properties": {
          "externalInvoiceKey": {"$ref": "#/components/schemas/Uuid"},
          "invoiceId": {"type": "string", "pattern": "^[1-9][0-9]*$"},
          "invoiceNumber": {"type": ["string", "null"]},
          "status": {"type": "string", "enum": ["draft", "issued", "sent", "partially_paid", "paid", "overdue", "cancelled", "credited", "unknown"]},
          "rawStatus": {"type": "string"},
          "currency": {"$ref": "#/components/schemas/Currency"},
          "totalMinor": {"type": "integer"},
          "amountDueMinor": {"type": "integer"},
          "issueDate": {"$ref": "#/components/schemas/Date"},
          "dueDate": {"$ref": "#/components/schemas/Date"},
          "editPath": {"type": ["string", "null"]},
          "publicUrl": {"type": ["string", "null"], "format": "uri"},
          "pdfUrl": {"type": ["string", "null"], "format": "uri"},
          "sequence": {"type": "integer", "minimum": 0}
        }
      },
      "InvoiceSnapshotResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["specVersion", "data", "meta"],
        "properties": {
          "specVersion": {"$ref": "#/components/schemas/ContractVersion"},
          "data": {"$ref": "#/components/schemas/InvoiceSnapshot"},
          "meta": {"$ref": "#/components/schemas/ResponseMeta"}
        }
      },
      "AttachmentResponse": {
        "type": "object",
        "required": ["specVersion", "data", "meta"],
        "properties": {
          "specVersion": {"$ref": "#/components/schemas/ContractVersion"},
          "data": {"type": "object"},
          "meta": {"$ref": "#/components/schemas/ResponseMeta"}
        }
      },
      "CapabilitiesResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["specVersion", "data", "meta"],
        "properties": {
          "specVersion": {"$ref": "#/components/schemas/ContractVersion"},
          "data": {
            "type": "object",
            "required": ["contractVersion", "deploymentMode", "features", "limits"],
            "properties": {
              "contractVersion": {"$ref": "#/components/schemas/ContractVersion"},
              "deploymentMode": {"type": "string", "const": "revizior_managed"},
              "features": {"type": "object", "additionalProperties": {"type": "boolean"}},
              "limits": {"type": "object", "additionalProperties": {"type": "integer", "minimum": 1}}
            }
          },
          "meta": {"$ref": "#/components/schemas/ResponseMeta"}
        }
      },
      "ErrorBody": {
        "type": "object",
        "additionalProperties": false,
        "required": ["code", "message", "retryable"],
        "properties": {
          "code": {"type": "string", "minLength": 1},
          "message": {"type": "string", "minLength": 1},
          "fields": {"type": "object", "additionalProperties": {"type": "string"}},
          "retryable": {"type": "boolean"}
        }
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["specVersion", "error", "meta"],
        "properties": {
          "specVersion": {"$ref": "#/components/schemas/ContractVersion"},
          "error": {"$ref": "#/components/schemas/ErrorBody"},
          "meta": {"$ref": "#/components/schemas/ResponseMeta"}
        }
      },
      "InvoiceEvent": {
        "type": "object",
        "additionalProperties": false,
        "required": ["specVersion", "eventId", "eventType", "occurredAt", "organizationId", "supplierId", "aggregate", "data"],
        "properties": {
          "specVersion": {"$ref": "#/components/schemas/ContractVersion"},
          "eventId": {"$ref": "#/components/schemas/Uuid"},
          "eventType": {"type": "string"},
          "occurredAt": {"$ref": "#/components/schemas/DateTime"},
          "organizationId": {"$ref": "#/components/schemas/Uuid"},
          "supplierId": {"type": "string"},
          "aggregate": {"type": "object"},
          "data": {"type": "object"}
        }
      }
    }
  }
}
